.container {
  border: 1px solid #494949;
  border-radius: 4px;
  width: 30vw;
  height: 20vw;
  position:fixed;
  top: 50vh;
  left: 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text1 {
  margin-top: 3vh;
}

.price {
  font-size: 49px;
  text-align: left;
  color: #ffffff;
  margin: 0;
  margin-bottom: 2vh;
}

.horizontalLine {
  background-color: #494949;
  height: 1px;
  width: 100%;
}

.emailInput {
  border: none;
  border-bottom: 2px solid #494949;
  background-color: #1b1b1b;
  width: 90%;
}