.container {
  border: 1px solid #494949;
  border-radius: 4px;
  width: 30vw;
  height: 50vh;
  position: sticky;
  top: 10px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.text1 {
  margin-top: 3vh;
}

.price {
  font-size: 49px;
  text-align: left;
  color: #ffffff;
  margin: 0;
  margin-bottom: 2vh;
}

.horizontalLine {
  background-color: #494949;
  height: 1px;
  width: 100%;
}

.emailInput {
  border: none;
  border-bottom: 2px solid #494949;
  background-color: #1b1b1b;
  color: #ffffff;
  width: 90%;
}

.submitBtn {
  background: #674BB1;
  color: #ffffff;
  border-radius: 4px;
  width: 90%;
  height: 15%;
  margin-top: 5%;
}