.container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 500vh;
  border: 1px solid red;
  margin-top: 4vh;
}

.textContainer1 {
  width: 20%;
}

.marginTop {
  margin-top: 15px;
}