.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.marginLeft {
  margin-left: 15px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}
