.container {
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin-top: 5vh;
  margin-left: 1%;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 3vh;
}

.logo {
  font-size: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  align-self: center;
  margin: 0;
}

.toTop {
  font-size: 14px;
  color: #ffffff;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
}

.horizontalLine {
  background-color: #494949;
  height: 1px;
  width: 100%;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.marginBottom {
  margin-bottom: 15px;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.link{
  text-decoration: none;
  margin-bottom: 5px;
}

.marginRight{
  margin-right: 10px;
}

.alignCenter{
  margin-left: 20vw;
}

.dopsDigital {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 0;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .CopyrightContainer {
    display: flex;
    flex-direction: column;
  }

  .alignCenter{
    margin-left: 0;
  }

  .dopsDigital {
    margin-left: 0;
    margin-right: 0;
  }
}

