.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4vh;
}

.marginLeft {
  margin-left: 15px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media screen and (max-width: 800px) {
  
}