.sectionContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 3%;
}

.bigText {
  /* font: Regular 49px/42px NB International; */
  width: 30%;
  margin: 0;
}

.smallText {
  /* font: Regular 14px/21px NB International; */
  /* margin: 0; */
  margin-left: 12%;
}

.textContainer1 {
  width: 15%;
}

.textContainer2 {
  width: 22%;
}

@media screen and (max-width: 801px) {
  .sectionContainer {
    display: flex;
    flex-direction: column;
  }
  .textContainer1, .textContainer2, .bigText {
    width: 100%;
    margin: 0;
    margin-top: 5%;
  }
}